# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editores / IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variables de entorno
.env
.env.local

# Si en el futuro corres un servidor local o instalas dependencias
node_modules/
